@media (min-width:320px) {
  .body__h1 {
    font-size: 16px;
  }
}
@media (min-width:481px) {
  .body__h1 {
    font-size: 32px;
  }
}
@media (min-width:641px) {
  .body__h1 {
    font-size: 64px;
  }
}
@media (min-width:961px) {
  .body__h1 {
    font-size: 128px;
  }
}
@media (min-width:1025px) {
  .body__h1 {
    font-size: 256px;
  }
}
@media (min-width:1281px) {
  .body__h1 {
    font-size: 400px;
  }
}